---
const data = [
  {
    title: "Transform your brand",
    text: "We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.",
    link: "#",
    linktext: "Learn more",
    img: "image-transform.jpg",
    color: "#ffd602",
  },
  {
    title: " Stand out to the right audience",
    text: "Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll build and extend your brand in digital places.",
    link: "#",
    linktext: "Learn more",
    img: "image-stand-out.jpg",
    color: "#ff7063",
  },
  {
    title: "Graphic design",
    text: "Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.",
    link: null,
    linktext: null,
    img: "image-graphic-design.jpg",
    color: null,
  },
  {
    title: "Photography",
    text: "Increase your credibility by getting the most stunning, high-quality photos that improve your business image.",
    link: null,
    linktext: null,
    img: "image-photography.jpg",
    color: null,
  },
];
---

<article id="imgwithtext">
  {
    data.map(({ title, text, link, linktext, img, color }) => {
      return (
        <article>
          <img src={"public/desktop/" + img.trim()} alt={title.trim()} />
          <section>
            <h2>{title.trim()}</h2>
            <p>{text.trim()}</p>
            {link !== null ? (
              <a href={link?.trim()} style={"--color: " + color}>
                {linktext?.trim()}
              </a>
            ) : null}
          </section>
        </article>
      );
    })
  }
</article>

<style lang="scss">
  article {
    article {
      @media (width > 800px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-height: 500px;
        place-items: center;
        &:nth-child(even),
        &:nth-child(even) > * {
          transform: scale(-1, 1);
        }
      }

      img {
        display: block;
        width: min(500px, 100%);
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        margin: 10px auto;
        border-radius: .75rem;
      }
      section {
        text-align: center;
        text-wrap: balance;
        padding: 1rem;

        h2 {
          font-size: 2rem;
        }
        p {
          color: hsl(232, 10%, 55%);
          font-size: 1.25rem;
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bolder;
          color: #000;
          font-size: 1.25rem;
          position: relative;
          &:hover::before {
            width: 100%;
          }
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 10px;
            background: var(--color);
            right: 0;
            bottom: -2px;
            z-index: -1;
            opacity: 0.25;
          }
          &::before {
            position: absolute;
            content: "";
            width: 0px;
            height: 10px;
            background: var(--color);
            left: 0;
            bottom: -2px;
            z-index: -1;
            transition: 250ms ease-in-out all;
          }
        }
      }
    }
  }
</style>
